<nav class="navbar navbar-default">
  <a [routerLink]="['/homepage']" routerLinkActive="active" class="navbar-brand">Cubic HealthCare</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="nav navbar-nav">
      <li>
        <a class="nav-item nav-link active" [routerLink]="['/prescribers']" routerLinkActive="active">Prescribers
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a class="nav-item nav-link">Patients</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-log-in"></span> Sign-up</a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-user"></span> User</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<router-outlet></router-outlet>